<div class="container">
    <div class="row">
        <div class="col m4">
            <div class="card">
            <div class="card-content">
                <span class="card-title">Random pictures from API Call</span>
                <div class="card-image">
                    <img id="photo" src='https://purr.objects-us-west-1.dream.io/i/5rtjwhZ.jpg' alt="random" class="circle responsive-img">
                </div>
                    <button  class="btn" id="btn"> SUBMIT</button>
            </div>
            </div>
            <div class="card">
                <div class="card-title">Generate Random Trivia Question</div>
                <div class="card-body">
                    <p id="category"></p>
                     <p id="level"></p>
                    Question:<p id="question"></p>
                   
                    
                    Answer:<p id="answer"></p>
                </div>
                <button class="btn question" >Generate Question</button>
            </div>
        </div>
  
        <div class="col m4">
            <div class="card">
            <div class="card-content">
                <span class="card-title">Bitcoin Current Price</span>
                <h3> $:
                    <span id="dollar"> </span>
                </h3>
                <h3> GBP:
                    <span id="pounds"> </span>
                </h3>
                <button class="btn" id="ref">Refresh</button>
            </div>
            </div>
            <div class="card">
                <span>Random Lorem API generated</span>
                <p id="target"></p>
                <button class="btn" id="generate">Generate</button>

            </div>
       </div>
        <div class="col m4">
            <div class="card">
            <div class="card-content">
                <span class="card-title">Random user profile API call</span>
                <div class="row">
                    <div class="col m4 s12">
                        <img src=""  class="circle responsive-img" id="image">
                    </div>
                    <div class="col m8">
                        Name:<span id="name"></span><br>
                        Age: <span id="age"></span><br>
                        Email: <span id="email"></span><br>
                        Location: <span id="location"></span>
                    </div>
                </div>
                <button class="btn" id="users">Users</button>
            </div>
            </div>
            <div class="card">
                <span>Randam Cat Api Generator</span>
                <div class="card-content">
                    <div class="card-image">
                        <img src="https://purr.objects-us-west-1.dream.io/i/49SEH.jpg" alt="" class="responsive-img" id="api-cat">
                    </div>
                    <button class="btn" id="cat">Generate Cat</button>
                </div>
            </div>
       </div>
       
</div>
</div>